.hideME {
  visibility: hidden;
}

.bg-grey {
  background-color: #3f3d56;
}

.theme-purple {
  color: #6c63ff;
}

.nav-link,
.navbar-brand {
  color: #8d87fa !important;
}

.btn-theme-purple {
  font-weight: 5000 !important;
  color: #6c63ff !important;
  border: 1px #6c63ff solid !important;
}
.btn-theme-purple:hover {
  color: #262534 !important;
  background-color: #6c63ff !important;
  background: linear-gradient(180deg, #8d87fa, #5349ff);
}

.ai-icons {
  margin: 0.75em;
  color: #8d87fa;
}

.ai-icons:hover {
  color: #5349ff;
}

.svg {
  width: 40%;
}
