.font-montserrat {
  font-family: montserrat, sans-serif;
}

.font-verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font-gill {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.theme-purple {
  color: #6c63ff;
}

.theme-dark-purple {
  color: #5349ff;
}

.theme-white {
  color: #f2f2f2;
}

.theme-bg {
  color: #3f3d56;
}

.bg-theme-dark {
  background-color: #262534;
}

.bg-theme-white {
  background-color: #f2f2f2;
}

.bg-theme-grey {
  background-color: #bbbbbb;
}

.theme-light-purple,
.nav-link,
.navbar-brand {
  color: #8d87fa !important;
}

.btn-theme-purple {
  font-weight: 5000 !important;
  color: #6c63ff !important;
  border: 1px #6c63ff solid !important;
}
.btn-theme-purple:hover {
  color: #262534 !important;
  background-color: #6c63ff !important;
  background: linear-gradient(180deg, #8d87fa, #5349ff);
}

.btn-send-email {
  font-weight: 5000 !important;
  color: #2e26c8 !important;
  border: 2px #3f3d56 solid !important;
  border-radius: 8px !important;
}
.btn-send-email:hover {
  color: #262534 !important;
  background-color: #6c63ff !important;
  background: linear-gradient(180deg, #8d87fa, #5349ff);
}

.levitate:hover {
  animation-name: levitate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes levitate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0px);
  }
}

.ai-icons {
  margin: 0.75em;
  color: #8d87fa;
}

.ai-icons:hover {
  color: #5349ff;
}

.svg {
  width: 40%;
}

.contact-form {
  color: #3f3d56 !important;
  background-color: #73709e !important;
  border-radius: 25px !important;
}

.circle-portrait {
  background-image: url("./Resources/Images/Portrait.jpeg");
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 15px 20px 60px #5349ff;
}

.gradient-underline {
  display: block;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #5349ff, #8d87fa);
  border-radius: 5px;
}

body {
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
